*{
    font-family: Inter,sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
}
.inputs{
    outline: none;
    width: 290px;
    height: 40px;
    border-radius: 10px;
    border: none;
    
}
.lableName{
    font-weight: 500;
    display: flex;
    margin-bottom: 10px;
}
